main {
  padding: 48px 4% 48px 4%;
}

section {
  width: 100%;
  min-height: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  padding: 24px;
  margin: 56px 0px;
  text-align: center;
  font-size: var(--font-size-regular);
  color: var(--font-color-default);
}

section > h1 {
  color: var(--main-accent-color);
}

section > ul {
  list-style-type: none;
  padding: 0px;
}

ul > li {
  margin: 8px 0px;
}
