main {
  padding: 48px 4% 48px 4%;
}

section {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  min-height: 700px;
  padding: 24px;
  margin: 56px 0px;
  text-align: center;
  font-size: var(--font-size-regular);
  color: var(--font-color-default);
}

.content {
  padding: 16px;
  flex: 0.4;

  > div {
    min-width: 100%;
    min-height: 500px;
    background-color: var(--content-bg-color);
    border-radius: var(--border-radius-medium);
  }
}

.content_border {
  border: var(--border-color-yellow);
  border-radius: var(--border-radius-large);
}

section:first-child,
section:last-child {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: none;
}
