@import "./style/home/hero.css";
@import "./style/home/content.css";
@import "./style/nav/navbar.css";
@import "./style/footer/footer.css";
@import "./style/vars.css";

* {
  box-sizing: border-box;
}

html {
  margin: 0px;
}

body {
  margin: 0px;
  background: var(--main-bg-color);
}
